body{
	background-color: rgb(0,0,255);
	color: rgb(0,0,0);
	font-family: arial;
	text-align: center;
}

h1{
	font-size: 70px;
}

p{
	font-size: 25px;
}

a{
	font-size: 25px;
}

#my_image{
	width: 200px;
	height: 200px;
	border: 5px rgb(159,64,255) solid;
	border-radius: 62px;
}

#header{
	background-image: url("https://www.yourtango.com/sites/default/files/styles/header_slider/public/image_blog/I-love-you-quotes_0.jpg?itok=HUsZC0cq0");
	border: 5px rgb(159,64,255) solid;
	padding: 100px;
}

#yes{
	background-image: url("https://images.theconversation.com/files/122137/original/image-20160511-18171-kulas4.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip");
	background-size: cover;
	border: 5px rgb(159,64,255) solid;
	margin: 25px auto 25px auto;
	padding: 100px;
}

.detail_section{
	background-image: url("https://static.vecteezy.com/system/resources/previews/001/313/964/original/watercolor-galaxy-sky-texture-in-pink-and-blue-free-vector.jpg");
	background-size: cover;
	border: 5px rgb(159,64,255) solid;
	padding: 50px;
	margin: 25px auto 25px auto;
}

#footer{
	background-color: rgb(159,64,255);
}

#search{
	background-color: rgb(159,64,255);
}

#channel_about{
	background-image: url("https://static.wikia.nocookie.net/rblx-jailbreak/images/f/f3/Jstoreface1.png/revision/latest?cb=20200504024349");
	background-size: cover;
	border: 5px rgb(0,0,0) solid;
	padding: 50px;
	margin: 25px auto 25px auto;
}

#most_viewed{
	background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-purple-light-effect-electronic-technology-background-backgrounddatabusinessblueelectronictechnologyintelligentblue-backgroundtechnology-backgroundlightcool-image_78722.jpg");
	background-size: cover;
	border: 5px rgb(0,0,0) solid;
	padding: 50px;
	margin: 25px auto 25px auto;
}
